# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [1]:
x = 2   # int x = 2  #no concept of data type in python.
y = 5.5  # float
z = "data science"  # string

In [2]:
print(x,y,z)

2 5.5 data science

In [3]:
#type:return the datatype of the variable
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'str'>

In [4]:
print("welcome to python")

welcome to python

In [5]:
print(x,y,z)

2 5.5 data science

In [6]:
print("My name is kamal")

My name is kamal

In [7]:
x

2

In [8]:
#print function to print both raw strings and variables
#the value stored in x is 2
print("the value stored in x is:",x)

the value stored in x is: 2

In [9]:
print("the value present in y is:",y)

the value present in y is: 5.5

In [12]:
print("the string contained in z is               ",z)

the string contained in z is                data science

Multiple variables can be assigned with the same value.

In [13]:
a=b=c=10

In [14]:
a , b , c # () -> tupple format  # () -> paranthesis

(10, 10, 10)

In [15]:
print(a,b,c)

10 10 10

# Operators

##Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [17]:
10 + 20  # addition

30

In [18]:
2-1 # subtraction

1

In [21]:
10*20 # multliplication

200

In [22]:
1/2 # division

0.5

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [24]:
34/6 # division

5.666666666666667

In [25]:
34//6 # floor division

5

In [3]:
100//3

33

In [27]:
12//5

2

In [32]:
12%5

2

In [33]:
6 % 54

6

In [34]:
8 % 98

8

In [31]:
100%3 # it checks only reminder

1

## pow function

In [35]:
pow(5,3)

125

In [36]:
pow(3,3)

27

In [37]:
pow(3,3,5) # 3 * 3* 3 = 27 | 27 % 5 = 2

2

Floor division is nothing but converting the result so obtained to the nearest integer.

In [30]:
2.8//2

1.0

##Relational Operators:used to check conditions,and they always return boolean values

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [39]:
z=10
y=1
x=2

In [40]:
z==y

False

In [41]:
z!=x

True

In [42]:
a = 1
b = 10
a>b

False

In [44]:
a = 10
b = 1
b<a

True

In [46]:
a = 5
b = 5 
a>=b # not satisfied >

True

In [47]:
z>=10

True

In [48]:
a = 6
b = 6
a == b

True

In [50]:
a = 1
print(a)
b = 5
a = b
print(a)
print(b)

1
5
5

##Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

#Built-in Functions

Python comes loaded with pre-built functions

##Conversion from one system to another

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

In [ ]:
#binary(base 2),hexadecimal(base 16),decimal(base 10),octal(base 8)

In [8]:
a = 125
print("125 binary value is : " , bin(a))
print("Converting binary value to Normal value : " , int(0b1111101))

125 binary value is :  0b1111101
Converting binary value to Normal value :  125

In [54]:
a = 125
print("125 binary value is : " , hex(a))
print("Converting binary value to Normal value : " , int(0x7d))

125 binary value is :  0x7d
Converting binary value to Normal value :  125

In [56]:
a = 125
print("125 binary value is : " , oct(a))
print("Converting binary value to Normal value : " , int(0o175))

125 binary value is :  0o175
Converting binary value to Normal value :  125

In [58]:
#to convert from anybase to bin:
import decimal 
print("125 in binary is:",decimal.Decimal(125))
#to convert from anybase to int:
print("0b1111101 in int/base 10 is",bin(125))
print("checking our assumption : " , int(0b1111101))

125 in binary is: 125
0b1111101 in int/base 10 is 0b1111101
checking our assumption :  125

In [44]:
#to convert from anybase to hex:
hex(125)

'0x7d'

In [ ]:
int()  --> converts to integer form(1,2,3,4)
float()--> covert to float form(1.23,2,34,5.54)
str()--> "welcome to data science"

In [59]:
a = 1
type(a)

int

In [60]:
float(a)

1.0

In [12]:
a = 12.2
print(type(a))
b = int(b)
type(b)

<class 'float'>

int

In [63]:
a = 1
str(a)

'1'

In [64]:
str(100)

'100'

In [46]:
#integer -->string and vice versa:
s1="100"
f1=100.25

In [50]:
int(s1)   # string to int

100

In [49]:
int(f1)   # float to int

100

In [66]:
a = 101
str(a)

'101'

In [67]:
a = 'kamal'
b = float(a)

ValueError: could not convert string to float: 'kamal'

In [53]:
i1=100

In [54]:
str(i1)  # converting a int value to a string.

'100'

##Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [68]:
x=100.3434343434

In [69]:
x

100.3434343434

In [30]:
round(x)

100

In [70]:
a = 12.2
round(a)

12

In [71]:
########isintance function:
isinstance(50.55,float)  # we are checking if 123.56 is a float value

True

In [73]:
isinstance(1 , float)

False

In [74]:
isinstance("welcome",str)  # if 123.56 is a float or int or str

True

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [71]:
#pow(x,y)--> x raised to power y:
pow(5,3)

125

In [72]:
pow(8,2)

64

In [ ]:
#pow(x,y,z)-->(x raised to y)%z

In [73]:
#%-->  modulus operator -->get the remainder 
43%5

3

In [74]:
pow(3,3,5)

2

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [77]:
#range(x):-->generates integers from 0-->x-1
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [80]:
#range(x,y)--->generates integers from x-->y-1
print(list(range(50,100)))

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [84]:
#range(x,y,z)--->generates integers from x-->y-1,with a step size of z
print(list(range(50,100,2)))

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

##Accepting User Inputs

**input( )** accepts input and stores it as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [35]:
name=input("please enter your name ")  # accepting string input from user

please enter your name kamal

In [10]:
name

'kamal'

In [1]:
age=input("please enter age:")

please enter age:25

In [2]:
age=int(age)

In [5]:
a = input("Enter your name ")
b = int(input("Enter ur age "))
print("My name is " , a)

print("My age is " , b)

Enter your name kamal
Enter ur age 25
My name is  kamal
My age is  25